<banner class="banner">
  <header class="unitTitleArea">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="unitTitle">
            <h1>
              <b id="title">Learn-Connect</b>
              <span id="subTitle">個性化學習體驗</span>
            </h1>
            <div class="textGroup">
              <small>UPBRINGING</small>
              <small>UPBRINGING</small>
              <small>UPBRINGING</small>
              <small>UPBRINGING</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</banner>
<script type="module" src="/js/banner.js" type="text/javascript"></script>