<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <ul class="linkGroup">
                    <li><a href="#">關於我們</a></li>
                    <li><a href="#">聯繫我們</a></li>
                    <li><a href="#">隱私政策</a></li>
                    <li><a href="#">使用條款</a></li>
                </ul>
            </div>
            <div class="col-lg-6 text-lg-end text-center">
                <small class="copyright">© 2023 享讀 ENJOYREADING</small>
            </div>
        </div>
    </div>
</footer>