// BSçš„CSS
@import "bootstrap/dist/css/bootstrap.min.css";

@import './layout/variables';
@import './layout/_banner';
@import './layout/_main';
@import './layout/_navbar';
@import './layout/_footer';

@import './pages/index';
@import './pages/infoCard';
@import './pages/login';
@import './pages/setting';
@import './pages/member';
@import './pages/memberBook';
@import './pages/memberTeacher';
@import './pages/bookChart';
@import './pages/bookClubGroup';
@import './pages/learn-detail';
