.unitTitleArea {
  overflow: hidden;

  .unitTitle {
    margin: 10% 0 10%;
    padding: 5% 0;
    text-align: center;

    h1 {
      b {
        font-size: 3.6rem;
        line-height: 1;
        letter-spacing: $ls-2px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
        @media (max-width: 991px) {
          font-size: 2.5rem;
        }
      }

      span {
        display: block;
        line-height: 1;
        font-size: 1.2rem;
        letter-spacing: 3px;
        color: #666666;

        @media (max-width: 991px) {
          font-size: 1rem;
        }
      }
    }

    .textGroup {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0.8;
      pointer-events: none;

      small {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        color: #fff;
        font-size: 8rem;
        line-height: 1;
        font-weight: bold;
        white-space: nowrap;

        @media (max-width: 991px) {
          font-size: 4rem;
        }

        &:nth-child(1) {
          transform: translateY(80%);
          opacity: 0.25;
        }

        &:nth-child(2) {
          transform: translateY(80%);
          opacity: 0.5;
        }

        &:nth-child(3) {
          transform: translateY(-80%);
          opacity: 0.5;
        }

        &:nth-child(4) {
          transform: translateY(-80%);
          opacity: 0.25;
        }
      }
    }
  }
}
