@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: 'Noto Sans TC', sans-serif; // 黑體字型
}

// bootstrap5樣式調整
a {
    text-decoration: none;
}


.btn,
.input-group-text {
    border-radius: 0;
}

.bg-gray {
    background-color: #e2e7eb;
}

.bg-primary {
    background: $primary-gradient;
}

.btn-primary {
    border: none;
    background: $primary-gradient;
    transition: background 1s;


    &:hover {
        background: $primary-gradient-2;
        transition: background 1s;
    }
}

.btn-outline-primary {
    border-color: $primary-color-2 ;
    color: $primary-color-2;

    &:hover {
        background: $primary-gradient;
        border-color: transparent;
    }
}

.btn-light {
    background-color: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
}
.btn-danger{
    background-color: #ff7bab !important;
    border-color: #ff7bab !important;
}

.form-control {
    border-radius: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid #999;

    &:focus {
        outline: 0;
        box-shadow: none;
        border-bottom: 3px solid transparent;
        border-image-slice: 1;
        // -moz-border-image: -moz-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
        // -webkit-border-image: -webkit-linear-gradient(top left, #3acfd5 0%, #3a4ed5 100%);
        border-image: $primary-gradient;
        border-image-slice: 1;

    }

    &:disabled {
        background-color: transparent;
        opacity: 1;
        border: none;
    }

    .form-floating>label {
        left: 0.75rem;
        background-color: transparent !important;
    }
}

textarea.form-control {
    background-color: rgba(242, 242, 242, 0.536)
}

.text-primary {
    color: $primary-color-2 !important;
}

// 頭像
.profile-pic {
    width: 50px;

    .innerImg {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: 3px;
            background: $primary-gradient;
            border-radius: 50%;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

}

//單元標題樣式
.unitTitleArea {
    overflow: hidden;

    .unitTitle {
        margin: 10% 0 10%;
        padding: 5% 0;
        text-align: center;

        h1 {
            b {
                font-size: 3.6rem;
                line-height: 1;
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;

                @media (max-width:991px) {
                    font-size: 2.5rem;
                }
            }

            span {
                display: block;
                line-height: 1;
                font-size: 1.2rem;
                letter-spacing: 3px;
                color: #666666;

                @media (max-width:991px) {
                    font-size: 1rem;
                }
            }
        }

        .textGroup {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            opacity: 0.8;
            pointer-events: none;

            small {
                font-family: Arial, Helvetica, sans-serif;
                display: block;
                color: #fff;
                font-size: 8rem;
                line-height: 1;
                font-weight: bold;
                white-space: nowrap;

                @media (max-width:991px) {
                    font-size: 4rem;
                }

                &:nth-child(1) {
                    transform: translateY(80%);
                    opacity: 0.25;
                }

                &:nth-child(2) {
                    transform: translateY(80%);
                    opacity: 0.5;
                }

                &:nth-child(3) {
                    transform: translateY(-80%);
                    opacity: 0.5;
                }

                &:nth-child(4) {
                    transform: translateY(-80%);
                    opacity: 0.25;
                }

            }
        }
    }
}