// 宣告變數
$primary-color-1: #93d1e7;
$primary-color-2: #7191e0;
$primary-color-3: #a5c7e9;
$primary-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$primary-gradient: linear-gradient(-45deg, $primary-color-1 0%, $primary-color-2 100%);
$primary-gradient-2: linear-gradient(-90deg, $primary-color-1 50%, $primary-color-2 100%);
$primary-gradient-reverse: linear-gradient(-45deg, $primary-color-2 0%, $primary-color-1 100%);
$memberGray1: #CBCBCB; //203 203 203
$memberGray2: #BBCAD3; //188 203 211
$memberGray3: #666666; //102 102 102
$memberLeft: #93D1E7;
$memberRight: #7191E0;
$ls-2px: 2px;