//資訊卡：讀書會 家教社群
.infoCardArea {
    padding: 5% 0 10%;

    .infoCardList {
        .infoCard {
            display: block;
            text-decoration: none;
            color: #333;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20% 0 10%;
            border-radius: 30px 30px 0 0;
            margin-bottom: 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10px;
                background: $primary-gradient;
            }

            .infoState {
                font-size: 1rem;

                .cardType {
                    padding: 10px;
                    padding-left: 8%;
                    padding-right: 15px;
                    margin-right: 10px;
                    background: $primary-gradient;
                    color: #fff;
                }
            }

            .profile-pic {
                width: 50px;
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translateY(-50%);
            }

            .TxtCard {
                padding: 0 5%;
                padding-top: 3rem;

                .infoTitle {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                ul.infoDetail {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    line-height: 1.6;

                    li {
                        position: relative;
                        padding-left: 2.8rem;
                        font-size: 0.8rem;

                        span {
                            position: absolute;
                            left: 0;
                            letter-spacing: 2px;

                            &:after {
                                content: '｜';
                                opacity: 0.6;
                                color: #666;
                                font-size: 0.7rem;
                            }
                        }

                    }
                }
            }

        }

    }
}