<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/scss/all.scss">
    <title>Document</title>
</head>

<body>
    <%- include('./layout/navbar'); -%>
        <div class="bookChart container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="showInfo col-lg-3 ">
                    <div class="profilePicture  d-flex justify-content-center align-content-center mt-5">
                        <div class="pictureBackground d-flex justify-content-center align-content-center p-2">
                            <a class="rounded-circle" href="#"><img src="/assets/images/OrangeCat.jpg" alt="自拍照"
                                    class="rounded-circle d-flex"></a>
                        </div>
                    </div>
                    <div class="profileName text-center m-1">
                        <div class="identity text-secondary mt-2">讀書會主揪</div>
                        <br>
                        <p>橘貓妞妞</p>
                    </div>
                    <div class="grade mt-3 d-flex justify-content-center">
                        <hr>
                        <a href="#">評分</a>
                    </div>

                    <div class="chartInfo m-3 ">
                        <div class="chartTitle text-secondary">讀書會標題</div>
                        <div class="chartTitleContent">
                            想要學習程式語言，尋找耐心家教的家教老師!想要學習程式語言，尋找耐心家教的家教老師!</P>
                        </div>
                        
                        <div class="chartContentTitle text-secondary">敘述說明
                            <div class="chartContent">
                                希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。加入我們的夏季學習會，一同探索前端開發的奇妙世界。加入我們的夏季學習會，一同探索前端開發的奇妙世界。加入我們的夏季學習會，一同探索前端開發的奇妙世界。加入我們的夏季學習會，一同探索前端開發的奇妙世界。加入我們的夏季學習會，一同探索前端開發的奇妙世界。加入我們的夏季學習會，一同探索前端開發的奇妙世界。
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est voluptas dolor, iste,
                                repellat in at voluptates laudantium minima ad maiores velit? Nam ad vel voluptatum
                                minus labore laboriosam dolores alias!
                            </div>
                        </div>
                        <div class="chartTag text-secondary">學習標籤
                            <div class="chartSkill d-flex flex-wrap justify-content-around align-content-between">
                                <button><img src="/assets/images/skill.png" alt="技能"></button>
                                <button><img src="/assets/images/skill.png" alt="技能"></button>
                                <button><img src="/assets/images/skill.png" alt="技能"></button>
                                <!-- <button><img src="/assets/images/skill.png" alt="技能"></button>
                                <button><img src="/assets/images/skill.png" alt="技能"></button>
                                <button><img src="/assets/images/skill.png" alt="技能"></button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chartBoard col-lg-6 border border-1 ">
                    <div class="chartBoardTitle">讀書會留言板</div>
                    <hr>
                    <div class="chartBoardContent">
                        <div class="chartBoardMessage d-flex mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/OrangeCat.jpg"
                                            alt="自拍照" class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2 ">
                                <div class="chartBoardName mb-1 mt-1">
                                    橘貓妞妞
                                </div>
                                <div class="chartBoardText text-break bg-white rounded-3 p-3">
                                    <P>
                                        你們好！初次見面，很高興認識你們。我是這個讀書會的主揪，很期待和你們一同分享、學習。
                                        如果有什麼想說的或是想分享的，都歡迎隨時提出來。
                                        希望我們在這個學習的旅程中能夠一同成長，共同創造有意義的時光。有什麼想問或分享的，
                                        都不要猶豫，讓我們一同開啟這段有趣的閱讀之旅吧！
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse">
                                11/08 08:15
                            </div>
                        </div>
                        <div class="chartBoardMessage d-flex mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/Hedgehog.jpg"
                                            alt="自拍照" class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2">
                                <div class="chartBoardName mb-1 mt-1">
                                    糖糖喵
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>
                                        你好阿
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse">
                                11/08 13:45
                            </div>
                        </div>

                        <div class="chartBoardMessage d-flex flex-row-reverse mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/ShibaInu.jpg"
                                            alt="自拍照" class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2">
                                <div class="chartBoardName d-flex flex-row-reverse mb-1 mt-1">
                                    柴柴柴柴
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>

                                        大家好，我是這個讀書會的新成員，初次參與，感到非常興奮！
                                        我叫 柴柴柴柴，對於書籍和知識有著濃厚的興趣。
                                        目前主要的閱讀領域是 Java，但我也很期待在這個讀書會中拓展視野，學習新的知識。
                                        我相信這將是一段豐富的閱讀旅程，期待和大家一同分享心得、交流見解，共同成長。
                                        謝謝大家的歡迎，期待與你們共同探索精彩的書海！
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse text-end">
                                11/08 14:36
                            </div>
                        </div>

                        <div class="chartBoardMessage d-flex flex-row-reverse mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/ShibaInu.jpg"
                                            alt="自拍照" class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2">
                                <div class="chartBoardName d-flex flex-row-reverse mb-1 mt-1">
                                    柴柴柴柴
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>Lorem ipsum dolor sit
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse text-end">
                                11/08 14:36
                            </div>
                        </div>

                        <div class="chartBoardMessage d-flex mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/Rabbit.jpg" alt="自拍照"
                                            class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2 ">
                                <div class="chartBoardName mb-1 mt-1">
                                    妞妞兔兔
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse">
                                11/08 08:15
                            </div>
                        </div>

                        <div class="chartBoardMessage d-flex mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/Rabbit.jpg" alt="自拍照"
                                            class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2 ">
                                <div class="chartBoardName mb-1 mt-1">
                                    妞妞兔兔
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse">
                                11/08 08:15
                            </div>
                        </div>

                        <div class="chartBoardMessage d-flex mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/Rabbit.jpg" alt="自拍照"
                                            class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2 ">
                                <div class="chartBoardName mb-1 mt-1">
                                    妞妞兔兔
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse">
                                11/08 08:15
                            </div>
                        </div>

                        <div class="chartBoardMessage d-flex mb-3">
                            <div class="chartBoardPhoto d-flex h-25">
                                <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                    <a class="rounded-circle" href="#"><img src="/assets/images/Rabbit.jpg" alt="自拍照"
                                            class="rounded-circle d-flex"></a>
                                </div>
                            </div>
                            <div class="chartBoardSplit ms-2 me-2 ">
                                <div class="chartBoardName mb-1 mt-1">
                                    妞妞兔兔
                                </div>
                                <div class="chartBoardText text-break w-100 bg-white rounded-3 p-3">
                                    <P>希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!希望對JavaScript有興趣的人一起來討論!加入我們的夏季學習會，一同探索前端開發的奇妙世界。涼爽夏日，熱情掌握JavaScript技能!
                                    </P>
                                </div>
                            </div>
                            <div class="chartBoardDate d-flex flex-column-reverse">
                                11/08 08:15
                            </div>
                        </div>




                    </div>
                    <div class="chartBoardEmit input-group">
                        <input type="text" class="form-control" placeholder="傳訊息讀書會留言板"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn-outline-secondary border" type="button" id="button-addon2"><img
                                src="/assets/images/SendMessage.png" alt=""></button>
                    </div>
                </div>

                <div class="chartMember col-lg-3 border border-1 ">
                    <div class="chartMemberTitle">讀書會成員</div>
                    <hr>
                    <div class="chartMemberList ">
                        <div class="showMember d-flex m-2">
                            <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                <a class="rounded-circle " href="#"><img src="/assets/images/Hedgehog.jpg" alt="自拍照"
                                        class="rounded-circle d-flex"></a>
                            </div>
                            <div class="memberName d-flex align-items-center ms-2 me-2">糖糖喵</div>
                        </div>
                        <div class="showMember d-flex m-2">
                            <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                <a class="rounded-circle " href="#"><img src="/assets/images/Rabbit.jpg" alt="自拍照"
                                        class="rounded-circle d-flex"></a>
                            </div>
                            <div class="memberName d-flex align-items-center ms-2 me-2">妞妞兔兔</div>
                        </div>
                        <div class="showMember d-flex m-2">
                            <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                <a class="rounded-circle " href="#"><img src="/assets/images/ShibaInu.jpg" alt="自拍照"
                                        class="rounded-circle d-flex"></a>
                            </div>
                            <div class="memberName d-flex align-items-center ms-2 me-2">柴柴柴柴</div>
                        </div>
                        <div class="showMember d-flex m-2">
                            <div class="pictureBackground d-flex justify-content-center align-content-center p-1">
                                <a class="rounded-circle" href="#"><img src="/assets/images/OrangeCat.jpg" alt="自拍照"
                                        class="rounded-circle d-flex"></a>
                            </div>
                            <div class="memberName d-flex align-items-center ms-2 me-2">橘貓妞妞</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <!-- <%- include('./layout/footer'); -%> -->
        <script type="module" src="../main.js"></script>

</body>

</html>