<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <title>享讀｜會員登入</title>
</head>

<body>

    <section class="loginArea">
        <%- include('./layout/navbar'); -%>
            <div class="container-fluid">
                <div class="row loginBox">
                    <div class="col-lg-5 col-11 g-0">
                        <form action="" class="formBox bg-white row">
                            <h2 class="unitTitle">
                                <span>Forgot Password</span>
                                <small>忘記密碼</small>
                            </h2>
                            <div class="col-12 form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">電子郵件</label>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary py-3">送出</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        返回 <a href="login.html" class="text-primary"> 會員登入</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('./layout/footer'); -%>
    </section>
    <script type="module" src="../main.js"></script>
</body>

</html>