<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/all.scss">
    <title>享讀｜會員登入</title>
</head>

<body>

    <section class="loginArea">
        <%- include('./layout/navbar'); -%>
            <div class="container-fluid">
                <div class="row loginBox">
                    <div class="col-lg-5 col-11 g-0">
                        <div class="formBox bg-white row">
                            <h2 class="unitTitle">
                                <span>Forgot Password</span>
                                <small>忘記密碼</small>
                            </h2>
                            <div class="col-12 form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">電子郵件</label>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary py-3 find-password">送出</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p>
                                        返回 <a href="login.html" class="text-primary"> 會員登入</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./layout/footer'); -%>
    </section>
    <script type="module">
        console.log('--- 密碼找回頁 ---');
        import { comparison, sendEmail } from "/js/_sharedvariables.js";

        const findPassword = document.querySelector('.find-password');
        findPassword.addEventListener('click', async () => {
            const isNullEmail = document.querySelector('#floatingInput').value;
            if (isNullEmail.trim() === '') return;
            const emailData = {
                to: isNullEmail,
                subject: '享讀-密碼找回信',
                text: '',
            };
            try {
                const getPassword = await comparison(isNullEmail);
                emailData.text = `親愛的使用者 ${isNullEmail} 您好，您目前的密碼為 ${getPassword.password} ，查閱信件後請重新登入試試，謝謝。`
                const response = await sendEmail(emailData);

                console.log('Email sent successfully');
            } catch (error) {
                console.error('Error sending email:', error);
            }
        });
    </script>
</body>

</html>