<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet">
    <title>享讀｜會員登入</title>
</head>

<body>

    <section class="loginArea">
        <%- include('./layout/navbar'); -%>
            <div class="container-fluid">
                <div class="row loginBox">
                    <div class="subTxt">
                        <h1>
                            <small>Let's Read Now!</small>
                            <span>開始您的學習吧！</span>
                        </h1>
                    </div>
                    <div class="col-lg-4 col-11 g-0">
                        <form action="" class="formBox bg-white row">
                            <h2 class="unitTitle">
                                <span>LOG IN</span>
                                <small>會員登入</small>
                            </h2>
                            <div class="col-12 form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">電子郵件</label>
                            </div>
                            <div class="col-12 form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingPassword">密碼</label>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary py-3">登入</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-auto">
                                        <a href="forgot_password.html" class="text-primary">忘記密碼?</a>
                                    </div>
                                    <div class="col">
                                        <p class="text-end">
                                            沒有帳號嗎？ <a href="register.html" class="text-primary"> 快速註冊</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%- include('./layout/footer'); -%>
    </section>
    <script type="module" src="../main.js"></script>
</body>

</html>