<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/all.scss">
    <title>Document</title>
</head>

<body>
    <%- include('./layout/navbar'); -%>
        <main>
            <div class="container member-book">

                <%- include('./layout/banner'); -%>

                    <aside class="row">
                        <div class="col-lg-4 container-left">
                            <img class="member-img" src="/assets/images/PNG/portfolioImg.png"></img>
                            <p class="member-name text-center">糖糖喵</p>
                            <div class="activity-count text-center d-flex">
                                <div class="book-club">
                                    <p class="book-club-count">10</p>
                                    <p class="word-set">參加讀書會</p>
                                </div>
                                <div class="find-teacher">
                                    <p class="find-teacher-count">6</p>
                                    <p class="word-set">已教過的學生</p>
                                </div>
                            </div>
                            <ul class="myself-link text-center">
                                <li class="link-set"><a href="">我的揪團</a></li>
                                <li class="link-set"><a href="./memberTeacher.html">家教社群</a></li>
                                <li class="link-set"><a href="./setting.html">帳號設定</a></li>
                                <li class="link-set"><a href="./member.html">查看個人檔案</a></li>
                                <li class="link-set"><a class="sign-out">登出</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-8 container-right">
                            <div class="create-content">
                                <h2 class="my-book-club pb-4 mb-4">我開的揪團</h2>
                                <ul class="nav mb-5 nav-set">
                                    <li class="nav-item me-3">
                                        <a class="nav-link">所有揪團(5)</a>
                                    </li>
                                    <li class="nav-item me-3">
                                        <a class="nav-link">揪團中</a>
                                    </li>
                                    <li class="nav-item me-3">
                                        <a class="nav-link">成團留言板</a>
                                    </li>
                                    <li class="nav-item me-3">
                                        <a class="nav-link">完成揪團</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">取消揪團</a>
                                    </li>
                                    <li class="nav-item ms-auto px-3"
                                        style=" background: linear-gradient(to right, #93D1E7 0%, #7191E0 100%)">
                                        <a class="nav-link text-light">+發起讀書會</a>
                                    </li>
                                </ul>
                                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 infoCardList">
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">揪團中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">揪團中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">成團留言板</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">完成揪團</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">取消揪團</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="create-content">
                                <h2 class="my-create-club pb-4 mb-4">參加的揪團</h2>
                                <ul class="nav mb-5 nav-set">
                                    <li class="nav-item me-4">
                                        <a class="nav-link">所有揪團(5)</a>
                                    </li>
                                    <li class="nav-item me-4">
                                        <a class="nav-link">參加中</a>
                                    </li>
                                    <li class="nav-item me-4">
                                        <a class="nav-link">成團留言板</a>
                                    </li>
                                    <li class="nav-item me-4">
                                        <a class="nav-link">完成揪團</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">取消參加</a>
                                    </li>
                                </ul>
                                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 infoCardList">
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">參加中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">參加中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">成團留言板</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">完成揪團</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">取消參加</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="create-content">
                                <h2 class="my-collect-club pb-4 mb-4">收藏的揪團</h2>
                                <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 infoCardList">
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">收藏中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">收藏中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">收藏中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">收藏中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="infoCard">
                                            <div class="infoState">
                                                <span class="cardType">讀書會</span>
                                                <span class="cardState">收藏中</span>
                                                <div class="profile-pic">
                                                    <div class="innerImg"
                                                        style="background-image: url(/assets/images/profile-pic.jpg);">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="TxtCard">
                                                <h3 class="infoTitle">JavaScript 夏季學習會：精通前端開發</h3>
                                                <ul class="infoDetail">
                                                    <li><span>日期</span>2023 01 01</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
            </div>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module">
                import { clearSessionStorage } from "/js/_sharedvariables.js";
                console.log('--- 會員中心/教師 ---');
                const signOut = document.querySelector('.sign-out');
                signOut.addEventListener('click', () => clearSessionStorage());
            </script>
</body>

</html>