<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet">
    <title>享讀｜個性化學習體驗</title>
</head>

<body>

    <%- include('./layout/navbar'); -%>

        <main class="notifyArea">
            <div class="container">
                <div class="notification-header">
                    <h4>通知列表</h4>

                </div>
                <ul class="notifyList">
                    <li class="notify-item">
                        <a class="dropdown-item" href="#">
                            <div class="profile-pic">
                                <div class="innerImg" style="background-image: url(/assets/images/profile-pic.jpg);">
                                </div>
                            </div>
                            <div class="notifyInfo">
                                <span>家教課程 應徵通知</span>
                                <h6 class="uaerName">糖糖喵</h6>
                                <p class="notifContent">
                                    應徵成為您的家教課程『徵JavaScript 準備面試』的家教老師。
                                </p>
                                <small>通知時間<time>2020.01.01 00:00 </time></small>
                            </div>
                        </a>
                    </li>
                    <li class="notify-item">
                        <a class="dropdown-item" href="#">
                            <div class="profile-pic">
                                <div class="innerImg" style="background-image: url(/assets/images/profile-pic.jpg);">
                                </div>
                            </div>
                            <div class="notifyInfo">
                                <span>家教課程 應徵通知</span>
                                <h6 class="uaerName">糖糖喵</h6>
                                <p class="notifContent">
                                    應徵成為您的家教課程『徵JavaScript 準備面試』的家教老師。
                                </p>
                                <small>通知時間<time>2020.01.01 00:00 </time></small>
                            </div>
                        </a>
                    </li>
                    <li class="notify-item">
                        <a class="dropdown-item" href="#">
                            <div class="profile-pic">
                                <div class="innerImg" style="background-image: url(/assets/images/profile-pic.jpg);">
                                </div>
                            </div>
                            <div class="notifyInfo">
                                <span>家教課程 應徵通知</span>
                                <h6 class="uaerName">糖糖喵</h6>
                                <p class="notifContent">
                                    應徵成為您的家教課程『徵JavaScript 準備面試』的家教老師。
                                </p>
                                <small>通知時間<time>2020.01.01 00:00 </time></small>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </main>
        <%- include('./layout/footer'); -%>
            <script type="module" src="../main.js"></script>
</body>

</html>